.header {
  position: relative;
  background: #fff;
  margin-bottom: 90px;
  z-index: 100;
  &__content {
    display: flex;
    height: 90px;
    line-height: 90px;
  }
  &__logo {
    margin-right: 10px;
    font-size: 18px;
    text-shadow: 0 0 2px rgba(0, 0, 0, .2);
  }
  &__menu {
    flex: 1;
    text-align: right;
  }
}
.footer {
  text-align: center;
  color: #999;
  margin: 20px 0;
}
